# Server
APP_NAME="Zone De Rassemblement"
PORT=8000
NODE_ENV=development
DATABASE_URL="POSTGRESQL CONNECTION STRING - Replace it here (Neon.com)"
REDIS_URL="upstash.com"
BACKEND_URL="http://localhost:8000"

# JWT: Generate yours at https://jwtsecrets.com/
JWT_SECRET=

# Cloudinary
CLOUDINARY_SECRET_KEY=
CLOUDINARY_API_KEY=
CLOUDINARY_CLOUD_NAME=

# Redis
REDIS_URL=

# Frontend
FRONTEND_URL="http://localhost:3000"

# Email Credentials (Use GMAIL for Testing Only)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER="GMAIL Email Address - Replace it here"
SMTP_PASSWORD="Generate GMAIL APP Password - Replace it here"
SMTP_FROM="GMAIL Email Address - Replace it here"
